*{
  margin: 0;
  padding: 0;
}
.main-box{
   width: 100%;
   min-height: 100vh;
   background-color: rgb(66, 63, 63);
}

.input-box-main{
  width: 25%;
  display: inline-block;
}
.data-box{
  width: 65%;
 display: inline-block;
 margin-left: 30px;
}
table{
  width: 100%;
  border: 2px solid black;
  padding: 10px;
}
th{
  width: auto;
  border: 2px solid black;
  padding: 10px;
}
 td{
  width: auto;
  border: 2px solid black;
  padding: 10px;
}